body {
    background-color: #f8f9fa;
}

.qr-container {
    margin-top: 60px;
}

.qr-image {
    width: 260px;
    margin-top: 20px;
}

.download-btn {
    margin-top: 30px;
}

.modal-title {
    font-weight: bold;
}
